@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body {
	overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family:
		'system-ui',
		'Segoe UI',
		'Sawarabi Gothic',
		'Helvetica',
		'Arial',
		'sans-serif',
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

.m1l-2-c {
  	font-size: 25;
  	position: relative;
  	top: 90.5vh;
	left: 14.5vh;	
}
.m1l-2 {
	top: 91vh;
	position: relative;
	left: 18.25vh;	
}